<section class="z-0">
  <button (click)="abrirModal()"
    class="bg-green-500 text-gray-200 text-center p-2 mb-10 rounded-lg font-bold text-xl active:bg-green-400 active:scale-95"
  >
    Agregar nueva ingreso
  </button>
  
  
  <app-modal-compras [productoget]="productoget"></app-modal-compras>

  <div
    class="hidden lg:block overflow-auto w-full h-[335px] rounded-lg shadow mb-2"
  >
    <table class="w-full shadow-inner shadow-gray-400">
      <thead class="bg-gray-900 text-gray-200 border-b-2 border-gray-300">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Producto
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Descripcion
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Costo
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Cantidad
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Proveedor
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Categoria
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Opciones
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-600">
        <tr *ngFor="let item of productos" class="bg-gray-700">
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{ item.nombre }}
          </td>
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{ item.descripcion }}
          </td>
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{ item.costo }}
          </td>
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{ item.cantidad }}
          </td>
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{ item.proveedor.nombre }}
          </td>
          <td class="p-3 text-sm text-gray-300 whitespace-nowrap">
            {{item.categoria.nombre}}
          </td>
          <td class="p-3 text-sm flex gap-x-2 text-gray-300 whitespace-nowrap">
            <button
              class="p-2 active:scale-95 bg-yellow-400 dark:bg-opacity-70 rounded-lg"
            >
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
            <button
              class="p-2 active:scale-95 bg-red-400 dark:bg-opacity-70 rounded-lg"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngFor="let item of productos" class="lg:hidden mb-2 text-gray-400 font-bold flex gap-3 p-2 bg-gray-900 rounded-md">
    <div class="flex-1">
      <div>
        <p>Producto</p>
        <span class="text-gray-200 font-normal">{{item.nombre}}</span>
      </div>
      <div>
        <p>Descripcion: </p>
        <span class="text-gray-200 font-normal">{{item.descripcion}}</span>
      </div>
      <div>
        <p>Costo</p>
        <p class="text-gray-200 font-normal">
          $ {{item.costo}}
        </p>
      </div>
      
    </div>
    <div class="flex-1 ">
      <div>
        <p>Cantidad</p>
        <p class="text-gray-200 font-normal">{{item.cantidad}}</p>
      </div>
      <div>
        <p>Proveedor</p>
        <p class="text-gray-200 font-normal">{{item.proveedor.nombre}}</p>
      </div>
      <div class="flex gap-4">
        <div>
          <p>Categoria</p>
          <p class="text-gray-200 font-normal">{{item.categoria.nombre}}</p>
        </div>
      </div>
      <div class="text-right text-gray-100 mt-2">
        <button
        (click)="cargarProducto(item.id)"
                class="p-2 mx-2 active:scale-95 bg-yellow-400 dark:bg-opacity-70 rounded-lg"
              >
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
              <button
                class="p-2 active:scale-95 bg-red-400 dark:bg-opacity-70 rounded-lg"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
      </div>
    </div>

    
  </div>

  <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
</section>

