<app-categoria-modal ></app-categoria-modal>
<div
  *ngIf="modalComprasService.modal"
  class="bg-gray-400 z-20 bg-opacity-50 top-0 left-0 w-full h-screen fixed"
>
  <div
    class="modal flex justify-between items-center"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg text-gray-200 bg-gray-900 p-4 rounded-md">
      <div>
        <div class="text-2xl">Ingresar Producto</div>
      </div>
      <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let err of errores">
          {{err}}
        </li>
      </ul>
      <div class="modal-content p-2 bg-gray-900">
        <div>
          <form (ngSubmit)="create()" class="flex mb-4 w-full">
            <div
              class=" text-gray-200 w-1/2 min-h-min max-h-min  p-4"
            >
              <div class="flex flex-col">
                <label for="nombre">Producto:</label>
                <input
                  [(ngModel)]="producto.nombre"
                  name="nombre"
                  placeholder="product here"
                  class="bg-transparent p-1 border-b-2 outline-none border-gray-200"
                  type="text"
                />
              </div>
              <br />
              <div class="flex flex-col">
                <label for="descripcion">Descripcion:</label>
                <textarea
                  rows="2"
                  name="descripcion"
                  [(ngModel)]="producto.descripcion"
                  placeholder="descripcion here"
                  class="resize-none bg-transparent outline-none p-1 border-b-2 border-gray-200"
                  type="text"
                ></textarea>
              </div>
              <br />
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label for="costo">Costo:</label>
                  <input
                    name="costo"
                    [(ngModel)]="producto.costo"
                    placeholder="precio here"
                    class="resize-none w-[90%] bg-transparent outline-none p-1 border-b-2 border-gray-200"
                    type="number"
                  />
                </div>
                <div class="w-1/2">
                  <label for="cantidad">Cantidad:</label>
                  <input
                    name="cantidad"
                    [(ngModel)]="producto.cantidad"
                    placeholder="cantidad here"
                    class="resize-none w-[90%] bg-transparent outline-none p-1 border-b-2 border-gray-200"
                    type="number"
                  />
                </div>
              </div>
            </div>
  
            <!--FORM RIGTH-->
  
            <div
              class="bg-gray-900 text-gray-200 w-1/2 min-h-min max-h-min rounded-r-lg p-4"
            >
            <br />
              <div class="flex flex-col">
                <label for="proveedor">Proveedor:</label>
                
                  <select
                    required
                    name="proveedor"
                    class="bg-transparent outline-none p-1 border-b-2"
                    type="text"
                    placeholder="ingresar la direccion"
                    [(ngModel)]="producto.proveedor"
                  >
                  <option class="bg-transparent text-gray-800" *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
                </select>
                
              </div>
              <br />
              <div class="flex flex-col">
                <label for="categoria">Categoria:</label>
                <div class="flex gap-4 justify-between">
                  <select
                    required
                    name="categoria"
                    class="bg-transparent w-full outline-none p-1 border-b-2"
                    type="text"
                    placeholder="ingresar la direccion"
                    [(ngModel)]="producto.categoria"
                  >
                  <option class="bg-transparent w-full text-gray-800" *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
                  </select>
                  <p (click)="abrirModalCategoria()" class=" cursor-pointer text-3xl bg-green-500 rounded-md" >+</p>
                </div>
              </div>
              <br />
              
            </div>
          </form>
        </div>
        <div class=" flex gap-4 justify-end">
          <button type="button" class="p-2 bg-red-500 rounded-md" (click)="cerrarModal()" data-bs-dismiss="modal">Close</button>
          <button (click)="create()" type="button"  class="p-2 bg-green-500 rounded-md">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>
