@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
        @apply font-sans
    }
}

@layer utilities{
    ::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        background: rgb(209 213 219);
        border-radius:5px;
        z-index: 10;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(107 114 128 / var(--tw-bg-opacity));
        border-radius:5px;
    }
}